header span {
  color: #ffb823;
  font-family: "rye";
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: #fff1ca;
  background-color: #ffb823;
}

.nav-link {
  color: #ffb823;
  font-family: "rye";
}

.nav-link:focus,
.nav-link:hover {
  color: #fff1ca;
}

.border-bottom {
  border-bottom: var(--bs-border-width) var(--bs-border-style) #ffb823 !important;
}

body {
  background-color: #2d4f2b;
}

.text-body-emphasis {
  color: #ffb823 !important;
}

h1,
h2,
hr {
  color: #ffb823;
  font-family: "rye";
}

p,
ul {
  color: #fff1ca;
  font-family: sans-serif;
}

ul {
  list-style-type: none;
}

.short-hr {
  width: 25%;
}

#line-chart-div {
  background-color: #ffb823;
  border-radius: 10px;
}
