body {
  background-color: #2d4f2b;
}

#header {
  background-color: #708a58;
}

h1,
h2,
hr {
  color: #ffb823;
  font-family: "rye";
}

p,
ul {
  color: #fff1ca;
  font-family: sans-serif;
}

ul {
  list-style-type: none;
}

.short-hr {
  width: 25%;
}
